main.css
body {font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
    color: #426493;
    background-color: blue;
}
h2 {
    color: #426493;
    background-color: blue;
}
p {
    color: #426493;
    font-size: 12px;
    background-color: blue;
}
